extends layout

block content
  h1 so you wanna be a u-reporter, huh?
  
  ul.messages

  form#register(method="POST" action="")
    input.text(type="text" name="text")
    input.submit(type="submit" value="Send")