* { box-sizing: border-box;}
ul { 
  padding-left: 0;
}

.msg-left,
.msg-right {
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  color: #fff;
  border-radius: 10px
}

.msg-left {
  margin-right: 5em;
  background: green;
}
.msg-right {
  margin-left: 5em;
  background: blue;
}

.msg-left:before,
.msg-right:before {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  height: 0;
  width: 0;
  top: .9em;
}
.msg-left:before {
  left: -1em;
  border-width: 10px 15px 10px 0;
  border-color: transparent green transparent transparent;  
}
.msg-right:before {
  right: -1em;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent blue;  
}

form {
  position: relative;
}
.text {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1em;
  width: 100%;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 4px;
  padding: 1em;
  font-weight: bold;
}